.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
    min-block-size: 667px;
}

.footer__title {
    color: var(--accent-color-minor);
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    /* Для планшета и десктопа */
    /* clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)  */
    text-shadow: 2px 2px 0 var(--accent-color-main);
    font-weight: var(--font-bold);
    line-height: 83%;
}

/* ---- media width >=768px ----- */
@media (width >=768px) {
    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}

/* ---- media width >=1024px ----- */
/* @media (width >=1024px) {} */