.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
}

.header__decoration {
  position: absolute;
  right: 19px;
  top: 15px;
  color: var(--accent-color-main);
  text-transform: uppercase;
  font-size: var(--font-size-base);
  line-height: 18px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.header__decoration::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color-main);
  box-shadow: 0 0 6px 2px var(--accent-color-main);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  appearance: none;
  padding: 3px 12.5px;
  border: 1px solid transparent;
  background-color: transparent;
  color: var(--button-color);
  text-transform: lowercase;
  font-size: var(--font-size-base);
  line-height: 18px;
  transition: border-color 0.15s;
}

.header__theme-menu-button:hover {
  border-color: var(--button-hover-color);
}

.header__theme-menu-button_active,
.header__theme-menu-button_active:hover {
  border-color: currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.heading {
  color: var(--accent-color-minor);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  /* Для планшета и десктопа */
  /* clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)  */
  text-shadow: 4px 4px 0 var(--accent-color-main);
  font-weight: var(--font-bold);
  line-height: 83%;
}

.heading__accent {
  display: block;
}

.header__text {
  font-size: var(--font-size-base);
  font-weight: var(--font-bold);
  line-height: var(--line-height-base);
  align-self: center;
  color: var(--text-color-accent);
}

.header__text_accent {
  display: block;
}

/* ---- media width >=768px ----- */
@media (width >=768px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__decoration {
    top: 25px;
    right: 29px;
  }

  .header__theme-menu {
    grid-column: 2;
  }

  .header__theme-menu-list {
    gap: 10px;
  }

  .header__theme-menu-button {
    padding: 3px 13px;
  }

  .heading {
    margin-left: -19px;
    margin-top: 3px;
    grid-column: 1 / -1;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .heading__accent {
    display: inline;
    padding-right: 70px;
  }

  .header__text {
    justify-self: end;
    grid-column: 2;
  }
}

/* ---- media width >=1024px ----- */
@media (width >=1024px) {
  .heading__accent {
    padding-right: 94px;
  }

  .header__theme-menu {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 11px;
  }
}
