.main {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 40px;
  padding-bottom: 42px;
  gap: 49.5px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__title {
  font-weight: var(--font-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--accent-color-main);
}

.section__text {
  font-weight: var(--font-bold);
  font-size: var(--font-size-base);
  color: var(--bg-color);
}

.section__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-weight: var(--font-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--bg-color);
}

.card__title_regular {
  font-weight: var(--font-regular);
}

.card__text {
  font-weight: var(--font-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
}

.card__link {
  text-decoration: none;
  font-weight: var(--font-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--text-color);
  text-shadow: 2px 1px 0 var(--accent-color-main);
  cursor: pointer;
}

.card__link:hover {
  border-bottom: 1px solid currentColor;
}

.card__link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery__title {
  color: var(--bg-color);
}

.gallery__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.picture {
  margin: 0;
  block-size: 100%;
  inline-size: 100%;
}

.picture__img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
}

/* ---- media width >=768px ----- */
@media (width >=768px) {
  .main {
    padding-bottom: 62px;
  }

  .concentrate {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 20px;
  }

  .attention {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 30px;
  }

  .attention .section__title {
    grid-column: 1 / 2;
  }

  .attention .section__list {
    grid-column: 1 / -1;
  }

  .gold-fish {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 30px;
  }

  .gold-fish .section__title {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .gold-fish .section__text {
    grid-column: 2 / 3;
    align-self: start;
  }

  .gold-fish .section__list {
    grid-column: 2 / 3;
    align-self: start;
  }

  .gallery {
    padding-top: 30px;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice {
    grid-area: ice;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }

  .gallery__list {
    padding-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      'sunset sunset ice'
      'tape   books  ice'
      'tape   street street';
    gap: 20px;
  }

  .picture {
    margin: 0;
    block-size: 100%;
    inline-size: 100%;
  }
}

/* ---- media width >=1024px ----- */
@media (width >=1024px) {
  .section-content {
    gap: 10px;
  }

  .attention {
    grid-template-columns: repeat(3, 1fr);
    /* display: flex;
        gap: 20px; */
  }

  .attention .section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding-top: 10px;
  }

  .gold-fish .section__text {
    margin-bottom: 10px;
  }
}
