/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* Разбил структуру на блоки для более удобной работы. 
В style.css вынес стили которые используются сразу в нескольких блоках. */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: var(--bg-color);
}

.container {
  padding: 10px 10px;
}

.title-decor {
  background-color: var(--accent-color-main);
}

/* ----- decorated-zone ----- */
.decorated-zone {
  position: relative;
  --corner-size: 25px;
  --corner-thickness: 1px;
  --corner-border: 10px;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  width: var(--corner-size);
  height: var(--corner-size);
}

.decorated-zone::before {
  top: var(--corner-border);
  right: var(--corner-border);
  border-top: var(--corner-thickness) solid var(--corner-color);
  border-right: var(--corner-thickness) solid var(--corner-color);
}

.decorated-zone::after {
  bottom: var(--corner-border);
  left: var(--corner-border);
  border-bottom: var(--corner-thickness) solid var(--corner-color);
  border-left: var(--corner-thickness) solid var(--corner-color);
}

/* ----- decorated-zone ----- */
@media (width >=768px) {
  .decorated-zone {
    --corner-border: 20px;
  }

  .container {
    padding: 20px 20px;
  }
}

@media (width >=1024px) {
  .decorated-zone {
    --corner-border: 20px;
  }

  .container {
    padding: 20px 20px;
  }
}
