/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: rgba(255, 241, 247, 1);
  --section-title-color: rgba(53, 52, 48, 1);
  --section-subtitle-color: rgba(53, 52, 48, 1);
  --gallery-title-color: rgba(53, 52, 48, 1);
  --card-title-color: rgba(53, 52, 48, 1);
  --text-color: rgba(53, 52, 48, 1);
  --text-color-accent: rgba(53, 52, 48, 1);
  --button-color: rgba(53, 52, 48, 1);
  --button-hover-color: rgba(50, 49, 45, 0.4);
  --accent-color-main: rgba(255, 141, 203, 1);
  --accent-color-minor: rgba(255, 194, 230, 1);
  --cover-image: url(../../images/cover-image-light.png);
  --corner-color: rgba(53, 52, 48, 1);
}

:root.theme-light .header__decoration {
  display: none;
}

:root.theme-light .header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
}

.card__link:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgba(255, 241, 247, 1);
    --section-title-color: rgba(53, 52, 48, 1);
    --section-subtitle-color: rgba(53, 52, 48, 1);
    --gallery-title-color: rgba(53, 52, 48, 1);
    --card-title-color: rgba(53, 52, 48, 1);
    --text-color: rgba(53, 52, 48, 1);
    --text-color-accent: rgba(53, 52, 48, 1);
    --button-color: rgba(53, 52, 48, 1);
    --button-hover-color: rgba(50, 49, 45, 0.4);
    --accent-color-main: rgba(255, 141, 203, 1);
    --accent-color-minor: rgba(255, 194, 230, 1);
    --cover-image: url(../../images/cover-image-light.png);
    --corner-color: rgba(53, 52, 48, 1);
  }

  :root:not(.theme-dark) .header__decoration {
    display: none;
  }

  :root:not(.theme-dark) .header__theme-menu-button_active {
    pointer-events: none;
  }

  :root:not(.theme-dark) .header__theme-menu-button:focus-visible {
    outline: none;
  }

  :root:not(.theme-dark) .card__link:focus-visible {
    outline: none;
  }
}
