:root {
  --main-font: 'IBM Plex mono';
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color-main: rgba(255, 0, 112, 1);
  --accent-color-minor: rgba(219, 0, 255, 1);
  --cover-image: url(../../images/cover-image-dark.png);

  --font-bold: 700;
  --font-regular: 400;
  --font-size-base: 1.125rem;
  --line-height-base: 23.4px;
}